.Share {
  margin-bottom: -30px;
  display: flex;
  justify-content: flex-end;

  .facebookBtn {
    img {
      width: 33px;
      margin-top: 5.5px;
    }
  }
  .kakaostoryBtn {
    img {
      width: 40px;
      margin-top: 3px;
    }
  }
  .urlBtn {
    img {
      width: 30px;
      border: solid 2px black;
      border-radius: 50%;
      margin-top: 5.5px;
    }
  }
}
