.Main {
  position: relative;
  top: 100px;

  .event {
    height: 620px;
    font-size: 50px;
    background-color: #a7a9cf;

    span {
      position: absolute;
      top: 200px;
      left: 40px;
    }
  }
}
