@import "../../Styles/common.scss";

.Main {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  top: 100px;
  font-size: 16px;
  background-color: #ffffff;

  .event {
    position: relative;
    height: 620px;
    overflow-y: hidden;

    .eventComent {
      position: absolute;
      top: 220px;
      left: 80px;
      font-size: 40px;
    }
    img {
      max-width: 100%;
    }
  }

  .dly {
    position: relative;
    margin-top: 60px;
    width: 1200px;
    height: 700px;
    background-color: #e5e4e2;
    background-image: url(https://images.unsplash.com/photo-1527597771870-8f1e06ff8d8c?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1353&q=80);

    .ment1Box {
      display: flex;
      position: absolute;
      top: 60px;
      left: 25px;

      .ment1 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 300px;
        height: 170px;
        font-size: 40px;
        border-right: 1px solid black;

        .marca {
          font-weight: 700;
          margin-bottom: 10px;
        }
      }
    }
    .middle {
      display: flex;
      flex-direction: column;
      position: absolute;
      top: 280px;
      left: 25px;
      h3 {
        margin-bottom: 17px;
      }
      span {
        margin-bottom: 5px;
      }
    }
    .recommendWrapper {
      display: flex;
      align-items: center;
      position: absolute;
      bottom: 0px;

      p {
        width: 200px;
        font-size: 20px;
        font-weight: 600;
        text-align: center;
      }

      .recommendBox {
        width: 250px;
        height: 290px;
        border: 1px solid;

        &:last-child {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          background-color: #ffffff;

          .plus {
            width: 35px;
          }

          span {
            margin-top: 15px;
          }
        }
        img {
          width: 250px;
        }
        p {
          text-align: center;
        }
      }
    }
  }
  .Tstory {
    margin-top: 60px;
    padding-bottom: 100px;
    width: 1200px;

    h2 {
      padding: 20px 0px;
      font-size: 40px;
      text-align: center;
    }

    .customerComments {
      display: flex;
      width: 1200px;
      overflow: scroll;

      .storyBox {
        display: flex;
        flex-direction: column;
        width: 300px;
        border: 1px solid;

        img {
          padding: 10px;
          width: 300px;
        }

        div {
          padding: 20px;

          h3 {
            margin-bottom: 4px;
          }

          p {
            margin-bottom: 2px;
          }
        }
      }
    }
  }
}
