.signin {
  position: relative;
  top: 100px;
  font-size: 16px;
  background-color: gray;
  .login {
    text-align: center;
    line-height: 190px;
    font-size: 48px;
    font-weight: 300;
    background-color: #faf9f7;
  }
  .member_wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    .member_box {
      display: flex;
      justify-content: center;
      width: 650px;
      background-color: rosybrown;
      .member {
        // margin-left: 5%;
        line-height: 50px;
        font-size: 20px;
        width: 50%;
        text-align: center;
        border-bottom: 3px solid black;
      }
      .unmember {
        line-height: 50px;
        font-size: 20px;
        width: 50%;
        text-align: center;
        border-bottom: 3px solid #ddd;
      }
    }
    .id_box {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 50px;
      width: 405px;
      height: 50px;
      background-color: pink;
      .id {
      }
      .id_input {
        margin-left: 30px;
        width: 290px;
        height: 50px;
      }
    }
    .pw_box {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 15px;
      width: 405px;
      background-color: yellow;
      .pw {
      }
      .pw_input {
        margin-left: 18px;
        width: 290px;
        height: 50px;
      }
    }
    .login_btn {
      margin-top: 25px;
      width: 405px;
      height: 64px;
      font-size: 20px;
      color: white;
      background-color: black;
    }
    .sign_helper_box {
      display: flex;
      justify-content: space-around;
      margin: 20px 0px;
      width: 405px;
      font-size: 14px;
      background-color: tomato;
      .id_find {
        width: 33%;
        text-align: center;
        border-right: whitesmoke 1px solid;
      }
      .pw_find {
        width: 33%;
        text-align: center;
        border-right: whitesmoke 1px solid;
      }
      .goto_signup {
        width: 33%;
        text-align: center;
      }
    }
    .sns_wrapper {
      width: 650px;
      text-align: center;
      background-color: yellowgreen;
      border-top: red 1px solid;
      .sns_login {
        font-size: 20px;
        margin: 20px;
      }
      .sns_images_wrapper {
        display: flex;
        justify-content: center;
        background-color: skyblue;
        .kakao_box {
          width: 33%;
          background-color: tan;
        }
      }
    }
  }
}
