@mixin center {
  display: flex;
  justify-content: center;
  align-items: center;
}

$basis: #ffffff;

.signin {
  position: relative;
  top: 100px;
  font-size: 16px;
  .header {
    height: 190px;
    text-align: center;
    line-height: 190px;
    font-size: 48px;
    font-weight: 350;
    background-color: #faf9f7;
  }
  .memberWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 50px;
    background-color: $basis;
    .memberBox {
      display: flex;
      justify-content: center;
      width: 650px;
      background-color: $basis;
      .member {
        line-height: 50px;
        font-size: 20px;
        width: 50%;
        text-align: center;
        border-bottom: 3px solid black;
      }
      .unmember {
        border-bottom: 3px solid #ddd;
      }
    }
    .idBox {
      @include center;
      margin-top: 50px;
      width: 405px;
      height: 50px;
      background-color: $basis;
      .id {
      }
      .id.Input {
        margin-left: 30px;
        width: 290px;
        height: 50px;
        border: 1px solid #ccc;
      }
    }
    .pwBox {
      @include center;
      margin-top: 15px;
      width: 405px;
      background-color: $basis;
      .pw {
      }
      .pw.Input {
        margin-left: 18px;
        width: 290px;
        height: 50px;
        border: 1px solid #ccc;
      }
    }
    .loginBtn {
      margin-top: 25px;
      width: 405px;
      height: 64px;
      font-size: 20px;
      color: white;
      background-color: black;
      border: none;
      border-radius: 3px;
    }
    .signHelperBox {
      display: flex;
      justify-content: space-around;
      margin: 20px 0px;
      width: 405px;
      font-size: 14px;
      color: #555;
      background-color: $basis;
      p {
        width: 33%;
        text-align: center;
        border-right: #cccccc 1px solid;
      }
      .gotoSignup {
        border: none;
      }
    }
    .snsWrapper {
      width: 650px;
      text-align: center;
      background-color: $basis;
      font-weight: 700;
      border-top: #ececec 1px solid;
      .snsLogin {
        font-size: 20px;
        margin: 20px;
      }
      .snsImagesWrapper {
        @include center;
        background-color: $basis;
        .Box {
          .Logo {
            width: 55px;
          }
        }
        .Box.kakao {
          width: 33%;
        }
      }
    }
  }
}
