.pMain {
  margin-top: 100px;
  display: flex;
  justify-content: center;
  
  .inner {
    width: 65%;
  }
  .innerSort {
    height: 50px;
    padding-left: 10px;
    display: flex;

    h3 {
      font-size: 25px;
      padding-right: 10px;
    }
    span {
      padding-top: 35px;
    }
  }
  .title {
    padding-bottom: 20px;
    display: flex;
    justify-content: center;

    a {
      padding-top: 20px;
      text-decoration: none;
      font-size: 35px;
    }
  }
  .bottomLine {
    border-bottom: solid 1px black;
  }
  .contentList {
    display: flex;
    justify-content: center;
    display: flex;

    .contentBox {
      padding-bottom: 50px;
      display: flex;
      flex-direction: column;
      padding-top: 2%;
      width: 250px;
      padding-left: 50px;

      li a {
        font-size: 13px;
      }
    }
    .listTop {
      font-weight: bold;
      // margin-bottom: 12px;
      font-size: 15px;
      text-decoration: none;
    }
  }
  .Productinfo {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

    .ProductItems {
      display: flex;

      ul {
        li {
          .itemList {
            .thumbImg {
              img {
                width: 285px;
                height: 285px;
              }
            }
            a {
              display: flex;
              flex-direction: column;
              text-decoration: none;

              span {
                padding: 5px 0;

                &:nth-child(1) {
                  font-size: 12px;
                  color: lightgray;
                }
                &:nth-child(2) {
                  font-size: 15px;
                }
                &:nth-child(3) {
                  font-size: 15px;
                  font-weight: bold;
                  color: rgb(255, 81, 0);
                  padding-bottom: 80px;
                }
              }
              .info {
                display: flex;
                flex-direction: column;
              }
            }
          }
        }
      }
    }
  }
}
