.thumbImg > img {
  width: 285px;
  height: 285px;
}

ul {
  li {
    display: flex;
    .itemList {
      display: flex;
      
      a {
        display: flex;
        flex-direction: column;
        background-color: cornflowerblue;
        span {
          padding: 5px 0;
          &:nth-child(1) {
            font-size: 12px;
            color: lightgray;
          }
          &:nth-child(2) {
            font-size: 15px;
          }
          &:nth-child(3) {
            font-size: 15px;
            color: orange;
          }
        }
        .info {
          display: flex;
          flex-direction: column;
        }
      }
    }
    }
}