<<<<<<< HEAD
=======
@mixin center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@mixin around {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

@mixin inputSize {
  width: 490px;
  height: 40px;
}

@mixin boxSize {
  width: 650px;
  height: 40px;
}

@mixin checkboxSize {
  width: 16px;
  height: 16px;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

$basis: #ffffff;
>>>>>>> 92fcbc1765ea346b48f8e0ac9f2d39a7decdef5d
