$basis: #ffffff;

.Signin {
  position: relative;
  top: 100px;
  font-size: 16px;
  background-color: $basis;

  .memberWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 50px;
    .memberBox {
      display: flex;
      justify-content: center;
      width: 650px;
      .member {
        line-height: 50px;
        font-size: 20px;
        width: 50%;
        text-align: center;
        color: #999;
        border-bottom: 3px solid #ddd;
        cursor: pointer;
        &.active {
          border-bottom: 3px solid #000000;
          color: #000000;
        }
      }
    }
  }
}
