.proinfo {
  width: 100%;
  display: flex;
  flex-direction: column;
  .optTable {
    border-collapse: separate;
  }
  .benefitBtn {
    display: flex;
    justify-content: space-between;
  }
  .pinfoTxt {
    height: 600px;
    margin-top: -20px;

    .infoTable {
      border-spacing: 20px;
      border-collapse: separate;
      width: 100%;
    }

    &::after {
      content: "";
      display: block;
      border-bottom: black 1px solid;
      // margin: 30px auto;
    }
    caption {
      opacity: 0;
    }
  }
  .txtPrice {
    small {
      color: rgb(255, 94, 0);
    }
    strong {
      color: rgb(255, 94, 0);
    }
  }
  h2 {
    margin-top: 0px;
    display: flex;
    flex-direction: column;
    font-size: 35px;

    .mainLink {
      display: flex;
      text-decoration: none;

      span {
        text-decoration: none;
        font-size: 15px;
        font-weight: normal;

        &::after {
          content: ">";
        }
      }
    }
  }
}
