@import "../../../Styles/common.scss";

.MemberSignin {
  animation: fadein 2s;
  height: 700px;

  .sign.Wrapper {
    position: relative;

    .signBox {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-top: 10px;
      width: 405px;
      height: 50px;

      .Input {
        margin-left: 30px;
        width: 290px;
        height: 50px;
        border: 1px solid #ccc;
      }
    }

    .id.signBox {
      margin-top: 50px;
    }

    .info.active {
      display: flex;
      margin-left: 115px;
      font-size: 14px;
      color: red;
    }

    .loginBtn {
      margin-top: 25px;
      width: 405px;
      height: 64px;
      font-size: 20px;
      color: $basis;
      background-color: black;
      border: none;
      border-radius: 3px;
    }
  }

  .signHelperBox {
    display: flex;
    justify-content: space-around;
    margin: 20px 0px;
    width: 405px;
    font-size: 14px;
    color: #555;

    p {
      width: 33%;
      text-align: center;
      border-right: #cccccc 1px solid;
    }

    .gotoSignup {
      border: none;
    }
  }
}
