@mixin center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@mixin inputSize {
  width: 490px;
  height: 40px;
}

@mixin boxSize {
  width: 650px;
  height: 40px;
}

@mixin checkboxSize {
  width: 16px;
  height: 16px;
}

$basis: #ffffff;

.signup {
  position: relative;
  top: 100px;
  font-size: 16px;
  background-color: $basis;
  header {
    height: 190px;
    text-align: center;
    line-height: 190px;
    font-size: 48px;
    font-weight: 350;
    background-color: #faf9f7;
  }
  .stepWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 50px;
    .stepBox {
      display: flex;
      justify-content: space-between;
      width: 650px;
      .step {
        line-height: 50px;
        font-size: 20px;
        text-align: center;
      }
      img {
        width: 20px;
      }
    }
    .allAgreeBox {
      display: flex;
      margin-top: 30px;
      padding: 10px 0px;
      width: 650px;
      border-bottom: 1px solid black;
      .agreeCheckbox {
        @include checkboxSize;
        margin-left: 25px;
      }
      label {
        margin-left: 25px;
        font-size: 16px;
        font-weight: 500;
      }
    }
    .essentialWrapper {
      display: flex;
      flex-direction: column;
      .essentialBox {
        display: flex;
        align-items: center;
        position: relative;
        width: 650px;
        height: 68px;
        border: 1px #ececec solid;
        &:nth-child(2) {
          border-top: none;
          border-bottom: none;
        }
        .essential {
          margin-left: 25px;
          width: 16px;
          height: 16px;
        }
        label {
          margin-left: 25px;
        }

        button {
          position: absolute;
          right: 10px;
          width: 64px;
          height: 64px;
        }
      }
    }
  }
  .buttonBox {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    width: 225px;
    .goto {
      width: 110px;
      height: 40px;
      line-height: 38px;
      font-size: 16px;
      border-radius: 3px;
    }
    .step1 {
      background-color: $basis;
      border: 1px solid #999;
      color: #666;
    }
    .step3 {
      background-color: #000;
      border: 1px solid #000;
      color: $basis;
    }
  }
}
