* {
  margin: 0;
  box-sizing: border-box;
  header {
    display: flex;
    width: 100%;
    nav {
      position: fixed;
      width: 100%;
      .navWrapper {
        background-color: white;
        display: flex;
        width: 100%;
      }
      .allmenuBtn {
        img {
          width: 25px;
          margin: 35px 0 0 80px;
        }
      }
      .logo {
        img {
          margin: 35px 40px 0 40px;
          width: 150px;
        }
      }
      .navIcon {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        padding-right: 82px;
        img {
          width: 25px;
          margin: 10px;
        }
        img:hover {
          cursor: pointer;
        }
      }
      .subnav {
        display: flex;
        width: 100%;
        background-color: rgba($color: #ffffff, $alpha: 0.9);
        justify-content: space-evenly;
        .subnavBox {
          .eventMenu {
            width: 100%;
            padding: 30px 200px 30px 200px;
            display: flex;
            margin-left: 30px;
            span {
              padding-left: 30px;
            }
          }
        }
        .submenuBox {
          display: flex;
          flex-direction: column;
          padding: 30px 50px 30px 50px;
          span {
            opacity: 1;
            width: 100%;
            display: flex;
            flex-direction: column;
          }
        }
        .mainItem {
          font-weight: bold;
        }
      }
      ul {
        display: flex;
        .menuItem {
          display: flex;
          flex-direction: column;
          font-weight: bold;
          font-size: 18px;
          margin: 0 15px;
          padding-bottom: 30px;
          padding-top: 20px;
          &:hover {
            color: red;
            border-bottom: solid 3px red;
            cursor: pointer;
            small {
              opacity: 1;
            }
          }
          small {
            opacity: 0;
            width: 100%;
            display: flex;
            justify-content: flex-end;
            font-weight: normal;
            font-size: 5px;
          }
        }
      }
    }
  }
}
