* {
    box-sizing: border-box;
    margin: 0;
    header {
        display: flex;
        .allmenuBtn {
            img {
                width: 25px;
                margin: 35px 0 0 80px;
            }
        }
        .logo {
            img {
                margin: 35px 40px 0 40px; 
                width: 150px;
            }
        }
        nav {
            width: 100%;
            background-color: white;
            overflow: hidden;
            display: flex;
            .navIcon {
                display: flex;
                justify-content: flex-end;
                align-items: center;
                padding-right: 80px;
                img {
                    width: 25px;
                    margin: auto 13px;
                }
                img:hover {
                    cursor: pointer;
                }
            }
            ul {
                width: 100%;
                display: flex;
                .menuItem {
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    font-weight: bold;
                    font-size: 18px;
                    padding: 30px 20px 30px 20px;
                    &:hover {
                        color: red;
                        border-bottom: solid 3px red;
                    }
                }
                small {
                    display: flex;
                    flex-direction: row-reverse;
                    font-weight: normal;
                    font-size: small;
                }
                .subnav {
                    display: flex;
                    display: none;
                    .mainItem {
                        font-weight: bold;
                    }
                    ul {
                        display: flex;
                        flex-direction: column;
                    }
                }
            }
        }
    }
}
